/*TWEET*/
.favbox {
height: 85px; /*Specify Height*/
width:  100%; /*Specify Width*/
margin-top: 10px;
margin-bottom: 0px; /*Add 1px solid border, use any color you want*/
background-color: white; /*Add a background color to the box*/
text-align:center; /*Align the text to the center*/
float: center;
margin-left: 10px;
}

.tweetbox a {
	font-size:15px;
	color: #2e2e2e;
}

.favbox a {
	font-size:15px;
	color: #2e2e2e;
}

.tweetbox {
height: 85px; /*Specify Height*/
width:  100%; /*Specify Width*/
margin-top: 10px;
margin-bottom: 0px; /*Add 1px solid border, use any color you want*/
background-color: white; /*Add a background color to the box*/
text-align: center;
float: right;

}

.tweet {
	width: 80%;
	display:inline-block;
	font-family: sans-serif;
	color: #2e2e2e;
	font-size: 15px;
	text-align: left;
	background: #fff;
	margin-top: 2px;
	margin-left: 10px;
	
}
.tweet_image {
	margin-top: 1px;
	float: left;
	width: 48px;
	height: 480x;
	padding: 8px 0 0 5px;
}
.tweet_image img {
	border: none;
}

.tweet_screen_name {
	font-size: 13px;
	font-weight: bold;
	text-align:center;
	color:#2e2e2e;
	text-decoration: none;
	margin-bottom: none;
	float: left;
	margin-left: 25px;
}
.tweet_screen_name a:hover {
	text-decoration: underline;
}
.user_name {
	font-size: 13px;
	color: #808080;
	padding-left: 10px;
	float: left;
}
.tweet_text {
	font-size: 100%;
}
.tweet_text a {
	text-decoration: none;
}
.tweet_text a:hover {
	text-decoration: underline;
}
.timestamp {
	font-size: 80%;
	color: #808080;
	margin-top: 2px;
	float: right;
	text-decoration: none;
	margin-right: 7px;
}
.tweet_date a:hover {
	text-decoration: underline;
}


.sort_by {
	font-size:20px;
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-color: #2e2e2e;
}

.pausebutton {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 300px;
}


body a
{ 	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size:38px;
	text-decoration: underline;
	color: #2e2e2e;}

h4
{
	
}

h1
{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size:60px;  
    font-weight: 300; 
}

p
{
	font-family: 'Roboto', serif;
	text-align:center;
	font-size:28px;
}

/*NAVBAR*/
header {
    background:#2e2e2e;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#logo {

    margin-left: 7px;
    margin-top: 10px;
    float: left;
    background: no-repeat center;
    display: block;
}



nav {
    float: right;
    
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #2e2e2e url(../assets/menuwhite.png) center;
    margin-right: 12px;
    margin-top: 7px;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style: none;

}

li {
    display: inline-block;
    float: left;
    padding-right: 20px;
    
}

li a {
    text-decoration:none; 
    color:white; 
    font-family: 'Roboto:', sans-serif; 
    font-size:20px; 
    font-weight: 300;
}


body
{
background-color:#f2f2f2;
padding-top: 45px;
}


#navbar {

    width: 100%;
    height: 55px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    background-color: #2e2e2e;
        border-radius: 0px;
    position: relative;    
}

#navbar ul {
	display: inline;
    width: 25%;
    
}

#navbar li { 
display: inline; 
color: white;
}

h2
{
    font-family: 'Roboto Slab', serif;
    font-size:36px;  
    font-weight: 300; 
}

.event {
    font-size: 24px;
    font-family: 'Roboto', serif;
    font-weight: 300;
    text-decoration: underline;
    line-height: 200%;
}

span {
    font-size:14px; 
    font-color:#2e2e2e;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    header {

        position: absolute;

    }

    #menu-icon {

        display:inline-block;

    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
        padding: 0px;
        background: #2e2e2e;
        right: 60px;
        top: 0px;
        width: 50%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }

