/*TWEET*/
.factcheckbox{
    height: 223px;
    width: 600px;
    background-color: #fff;
}

.pause-button {
    text-align: center;
    
}

.play-button {
    text-align: center;
    display: none;

}

.button-pause {
            background: rgb(202, 60, 60); /* this is a maroon */
            color: white;
            text-align: center;
            margin-top: 5px;
            margin-bottom: -5px;
        }

.button-play {
    background: rgb(28, 184, 65); /* this is a maroon */
            color: white;
            text-align: center;
            margin-top: 5px;
            margin-bottom: -5px;
}        


.picbox {
min-height: 65px;
width:  600px; 
margin-top: 10px;
margin-bottom: 0px; 
background-color: white; 
text-align:center; 
position: relative;
z-index: 1;}

.buttonbox{
    height: 37px;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border-top: 1px solid #d7d7d7;
    z-index: 1;
}

.fcbox{
    min-height: 65px;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border-top: 1px solid #d7d7d7;
    z-index: 1;
}

.fcurl {
    margin-top: -100px;
    margin-left: 3px;
    width: 217px;

}

.fcdesc {
    width:217px;
    display:inline;
    float:top;
}

.fcradio {
    display:inline-block;
    font-size: 15px; 
    line-height: 5px;
    vertical-align: middle;
}


.factcheckfail {
    margin-top: -12px;
    margin-bottom: 5px;
}
.factcheckfail small {
    font-size: 15px;
    color: red;

}

.purerad {
    display: inline-block;
}

.move-stuff {
    margin-bottom: -90px;
}

.fcbutton {
    display:inline;
}
.fcsubmit {
    font-size: 16px;
    color: #2e2e2e;
    margin-top: 2px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}

.fctext {
    font-size: 16px;
    color:#808080; 
    margin-top: 6px;
    margin-bottom: -3px;
    margin-left: 3px;
}

.fctext-bottom {
    font-size: 16px;
    color:#808080; 
    margin-top: -12px;
    margin-bottom: 2px;
    margin-left: 3px;
}

.refutedfactcheck {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.confirmedfactcheck {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.refutedfactcheck a {
    color:#0078e7;
}
.confirmedfactcheck a {
    color:#0078e7;
}

.fact-checks {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.menu-btn { 
    display:inline-block;
    width:33%;
    margin:0;
    padding:0;}

.red {
    color: red;
    font-size: 16px;
    font-weight: bold;
}   

.green {
    color: #339900;
    font-size: 16px;
    font-weight: bold;
}   

.menu-btn a {
    text-align:center;
    padding-top:9px;
    margin:0px;
    display:block;
    color: black;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;    
}   

.menu-btn a:hover{
    text-decoration:underline;
}

.button-menu {
    width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    background-color:#ffffff;
    text-align:center;
    font-family: sans-serif; 
}

.tweetbox a {
	font-size:15px;
	color: #2e2e2e;
}

.tweet {
	width: 80%;
	display:inline-block;
	font-family: 'Helvetica' sans-serif;
	color: #2e2e2e;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	background: #fff;
	margin-top: 2px;
	margin-left: 10px;
	
}
.tweet_image {
	margin-top: 1px;
	float: left;
	width: 48px;
	height: 480x;
	padding: 8px 0 0 5px;
}
.tweet_image img {
	border: none;
}

.tweet_screen_name {
	font-size: 13px;
	font-weight: bold;
	text-align:center;
	color:#2e2e2e;
	text-decoration: none;
	margin-bottom: none;
	float: left;
	margin-left: 25px;
}
.tweet_screen_name a:hover {
	text-decoration: underline;
}
.user_name {
	font-size: 13px;
	color: #808080;
	padding-left: 10px;
	float: left;
}
.tweet_text {
	font-size: 100%;
}
.tweet_text a {
	text-decoration: none;
}
.tweet_text a:hover {
	text-decoration: underline;
}
.timestamp {
	font-size: 80%;
	color: #808080;
	margin-top: 2px;
	float: right;
	text-decoration: none;
	margin-right: 7px;
}
.tweet_date a:hover {
	text-decoration: underline;
}

.sort_by {
	font-size:20px;
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Helvetica', sans-serif;
	font-color: #2e2e2e;
}

.pausebutton {
	font-family: 'Helvetica', sans-serif;
	text-align: center;
	font-size: 300px;
}

h1
{
    font-family: 'Helvetica', serif;
    text-align: center;
    font-size:60px;  
    font-weight: 400; 
}

p
{
	font-family: 'Helvetica', serif;
	text-align:center;
	font-size:28px;
	font-weight: 300;
}

/*NAVBAR*/
header {
    background:#2e2e2e;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#logo {

    margin-left: 7px;
    margin-top: 10px;
    float: left;
    background: no-repeat center;
    display: block;
}



nav {
    float: right;
    
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #2e2e2e url(../assets/menuwhite.png) center;
    margin-right: 12px;
    margin-top: 7px;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style: none;

}

li {
    display: inline-block;
    float: left;
    padding-right: 20px;
    
}

li a {
    text-decoration:none; 
    color:white; 
    font-family: 'Helvetica:', sans-serif; 
    font-size:20px; 
    font-weight: 300;
}


body
{
background-color:#f2f2f2;
padding-top: 45px;
}


#navbar {

    width: 100%;
    height: 55px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    background-color: #e9e9e9;
        border-radius: 0px;
    position: relative;    
}

#navbar ul {
	display: inline;
    width: 25%;
    
}

#navbar li { 
display: inline; 
color: white;
}

h2
{
    font-family: 'Helvetica', serif;
    font-size:36px;  
    font-weight: 300; 
}

.event {
    font-size: 24px;
    font-family: 'Helvetica', serif;
    font-weight: 300;
    text-decoration: underline;
    line-height: 200%;
}

span {
    font-size:14px; 
    font-color:#2e2e2e;
}

.votearrow {
    width:21px;
    height:21px;
    background: url(../assets/roundeduparrow.png) center;
    position: absolute;
    background-repeat:no-repeat;
    left:-40px;
    top:13px;
    z-index: 200;
    font-size: 18px;
    color: #2e2e2e;
}

.votearrow:hover {
    background: url(../assets/bluerounded.png) center;
    background-repeat: no-repeat;
}


.triangle,
.triangle:before,
.triangle:after {
    width:  10em;
    height: 10em;
    position: relative;
    background: orange;
    border-top-right-radius: 30%;
    margin: 30% auto 0;
}
.triangle:before,
.triangle:after {
    content: '';
    position: absolute;
    margin: 0;
}

.triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.triangle:hover { background: rgba(0,0,255,.5) }
.triangle:hover:before { background: rgba(255,0,0,.5) }
.triangle:hover:after { background: rgba(255,255,0,.5) }

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    header {

        position: absolute;

    }

    #menu-icon {

        display:inline-block;

    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
        padding: 0px;
        background: #2e2e2e;
        right: 60px;
        top: 0px;
        width: 50%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;
    }

